!!! 5
%html
%head
  %title Build My Vision
  = airbrake_javascript_notifier
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Build My Vision", root_path, class: 'brand'
        = render_navigation
  .container
    - if flash[:notice]
      .alert.alert-info
        = notice
    - if flash[:alert]
      .alert.alert-error
        = alert

    = yield
    %hr
    .footer
      %p Devscoop LLC &copy; 2012
  
  = javascript_include_tag "application"
  = analytics_init if Rails.env.production?